@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.recent_projects-container {
    font-family: 'Space Mono', monospace;
    display: flex;
    flex-direction: column;
    min-width: 420px;
    width: 100%;
    padding: 32px;
    margin: 60px auto;
    border: 1px solid #eee;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06);
}

.recent_projects-title {
    font-size: 2.0rem;
    /* font-weight: 600; */
    margin-bottom: 2rem;
    color: #000;
    width: 50px;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    letter-spacing: -0.25px;
}

ol {
    padding-left: 50px;
}

li {
    color: #4F4F4F;
    padding-left: 16px;
    margin-top: 24px;
    position: relative;
    font-size: 16px;
    line-height: 20px;
}

li::before {
    content: '';
    display: block;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 2px solid #ddd;
    position: absolute;
    top: -12px;
    left: -46px;
}

strong {
    color: #292929;
}

ol.alternating-colors li:nth-child(odd)::before {
    border-color: #0BAD02;
}

ol.alternating-colors li:nth-child(even)::before {
    border-color: #2378D5;
}